---
import Nav from "../components/nav.astro";
import { Picture } from "@astrojs/image/components";
const props = {
  src: "/photo-1667816145008-1670efc5a462.avif",
  alt: "",
  widths: [400, 800, 1200],
  aspectRatio: "1:1",
  formats: ["avif"],
  background: "#000",
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <Nav />
    <h1>Astro</h1>
    <div class="grid grid-cols-3">
      <Picture {...props} />
      <Picture {...props} />
      <Picture {...props} />
      <Picture {...props} />
      <Picture {...props} />
      <Picture {...props} />
      <Picture {...props} />
      <Picture {...props} />
      <Picture {...props} />
      <Picture {...props} />
    </div>
  </body>
</html>
